[Unit]
Description=Explorer Server
After=network.target

[Service]
User=purestory
Group=purestory
WorkingDirectory=/home/purestory/explorer/backend
ExecStart=/home/purestory/.nvm/versions/node/v20.3.0/bin/node /home/purestory/explorer/backend/server.js
Restart=no
RestartSec=10
# 환경 변수 설정 (각 줄에 하나씩)
Environment="NODE_ENV=development"
Environment="UV_THREADPOOL_SIZE=8"
# Environment="NODE_OPTIONS=--no-experimental-io-uring" # io_uring 관련 설정은 주석 처리 (사용자 요청)
# 로그 기록 복원
StandardOutput=append:/home/purestory/explorer/backend/logs/server.log
StandardError=append:/home/purestory/explorer/backend/logs/error.log

[Install]
WantedBy=multi-user.target 